
src/1.Wektory/logs
src/2.1 Losowanie-Sortowanie_babelkowe/logs
src/2.2 Stos-kolejka/logs
src/2.3.Program_Wojna/logs
tmp
tmpin
tmpout
src/2.2.Stos-kolejka/logs
src/2.1.Losowanie-Sortowanie_babelkowe/logs
src/3.Statystyka/logs
src/4.Znaki-stringi/logs
src/7.Relacje/relacje.exe
src/5.1.Macierze/macierze.exe
src/4.2.Identyfikatory/identyfikatory.exe
src/4.1.Znaki-stringi/znaki.exe
src/1.Wektory/wektory.exe
src/2.1.Losowanie-Sortowanie_babelkowe/sortowanie.exe
src/2.2.Stos-kolejka/stos-kolejka.exe
